* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-white: #ffffff;
  --color-red: #e63636;
  --color-darkred: #7d0e06;
  --color-gray: #c9cccd;
  --color-yelow: #ffff00;
  --color-dark1: #181818;
  --color-dark2: #1e1e1e;
  --color-green: #2fa524;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header1 {
  height: 3.4rem;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: var(--color-darkred);
}

.logo img {
  width: 60px;
}

.search {
  display: flex;
  background-color: var(--color-white);
  width: 660px;
  height: 30px;
  border-radius: 20px;
 margin-left: 70px;
}

.search span {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.menu1 {
  display: flex;
  align-items: center;
}

.menu1 nav {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#busca {
  background-color: transparent;
  width: 615px;
  height: 30px;
  border-radius: 40px;
  margin-left: 10px;
  border: none;
}

 .cadastro {
  background-color: transparent;
  width: 100px;
  height: 50px;
  color: var(--color-yelow);
  font-size: 15px;
  border: none;
  cursor: pointer;
  }

.cart {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: var(--color-yelow);
  cursor: pointer;
}

.header2 {
  background-color: var(--color-red);
  width: 1200px;
  height: 3.7rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu-bar ul {
  width: 1200px;
  height: 45%;
  display: flex;
  justify-content: space-around;
}

.menu-bar a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.menu-bar ul,
.menu-bar li {
  list-style: none;
}

.menu-bar a:hover {
  border-bottom: 3px solid #ffff00;
}

.slider {
  flex: 1;
  overflow: hidden;
}

.slider--width {
  height: 100%;
  display: flex;
  transition: all ease 0.3s;
}

.slider--item {
  margin-top: 40px;
  width: 100vw;
  background-position: center ;
  background-size: cover;
  height: 700px;
}

.slider--controls {
  position: absolute;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider--control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-yelow);
  overflow: hidden;
  cursor: pointer;
}