* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-white: #ffffff;
  --color-red: #e63636;
  --color-darkred: #7d0e06;
  --color-gray: #c9cccd;
  --color-yelow: #ffff00;
  --color-dark1: #181818;
  --color-dark2: #1e1e1e;
  --color-green: #2fa524;
}

header {
  display: flex;
  flex-direction: column;
}

.header1 {
  height: 3.4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--color-darkred);
  justify-content: center;
}

.logo {
  background-color: #e63636;
  color: var(--color-yelow);
  padding: 5px;
  text-align: center;
}

.search {
  display: flex;
  background-color: var(--color-white);
  width: 660px;
  height: 30px;
  border-radius: 20px;
  margin-left: 70px;
}

.search span {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.menu1 {
  display: flex;
  align-items: center;
}

.menu1 a {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 50px;
  font-size: 15px;
}

.menu1 a:hover {
  color: var(--color-white);
}

.menu1 nav {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#busca {
  background-color: transparent;
  width: 615px;
  height: 30px;
  border-radius: 40px;
  margin-left: 10px;
  border: none;
  outline: none;
}

input {
  border: none;
}

.cadastro  {
  background-color: transparent;
  width: 100px;
  height: 50px;
  color: var(--color-yelow);
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.cart {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: var(--color-yelow);
  cursor: pointer;
}

.header2 {
  background-color: var(--color-red);
  width: 100vw;
  height: 3.7rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

.menu-bar ul {
  width: 1200px;
  height: 45%;
  display: flex;
  justify-content: space-around;
}

.menu-bar a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.menu-bar ul,
.menu-bar li {
  list-style: none;
}

.menu-bar a:hover {
  border-bottom: 3px solid #ffff00;
}

.slides img {
  width: 1100px;
  height: 630px;
}

.slider {
  margin: 0 auto;
  width: 1100px;
  height: 600px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 600px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  position: relative;
  width: 25%;
}

.manual-navigation {
  position: absolute;
  width: 1200px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid var(--color-dark1);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: var(--color-yelow);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.card-racket {
  background-color: var(--color-red);
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.racket {
  height: 600pxpx;
  width: 335px;
  padding: px;
  text-align: center;
}

.racket h5 {
  font-size: 25px;
  margin: 10px;
}

.racket img {
  width: 100%;
  height: 300px;
  border: 2px solid #2fa524;
}

.racket p {
  font-size: 15px;
  margin-bottom: 25px;
  color: var(--color-dark2);
}

.racket a {
  background-color: var(--color-green);
  text-decoration: none;
  padding: 10px;
  margin-bottom: 15px;
  color: var(--color-white);
}
