* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e63636;
}



.form {
    height: 60vh;
    width: 30em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    padding-top: 2em;
}

h1 {
    margin-bottom: 1.2em;

}

label {
    font-size: 1.3em;
    font-weight: bold;
}

input {
    width: 90%;
    height: 2em;
    outline: none;
}

.button {
    background-color: #e63636;
    color: #fff;
    text-decoration: none;
    margin: 1em;
    padding: 0.7em;
    font-size: 1em;
    border-radius: 1em;
}

p {
    text-align: center;
}